<!--Подключаем CSS Jasny Bootstrap -->
<link href="css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="css/styleCatalog.css">
<% layout('layout/page') -%>
<% block('title'); -%>

<!-- ФОРМА ПОИСКА НАЧАЛО -->
        <form class="form-search">
            <input class="search-query" id="InputSearchProduct" size="16" type="text" placeholder="Введите название товара"><button class="btn" type="button">Поиск</button>
        </form>
        <!-- ФОРМА ПОИСКА КОНЕЦ -->

        <!-- БОКОВОЕ МЕНЮ НАЧАЛО -->
        <form class="form-dropdown-catalog">
        <ul class="dropdown">
        <nav class="navmenu navmenu-default" role="navigation">

          <ul class="nav navmenu-nav">
         <li class="dropdown-left">
         <a class="dropdown-left" href="#">Текстуры <b class="caret"></b></a>
         <ul class="dropdown-inside nav navmenu-nav">
         <li><a href="#">Деревоо</a></li>
         <li><a href="#">Металл</a></li>
         <li><a href="#">Бумага</a></li>
         <li><a href="#">Пластикаааааааа</a></li>
         <li><a href="#">Бумага</a></li>
         </ul>
         </li>
       </ul>

          <ul class="nav navmenu-nav">
          <li class="dropdown-left">
         <a class="dropdown-left" href="#">3D Модели <b class="caret"></b></a>
         <ul class="dropdown-inside nav navmenu-nav">
         <li><a href="#">Пункт 2.1</a></li>
         <li><a href="#">Пункт 2.2</a></li>
         <li><a href="#">Пункт 2.3</a></li>
         <li><a href="#">Пункт 2.4</a></li>
          </ul>
          </li>
        </ul>

        <ul class="nav navmenu-nav">
        <li class="dropdown-left">
       <a class="dropdown-left" href="#">Фотограмметрические сканы <b class="caret"></b></a>
       <ul class="dropdown-inside nav navmenu-nav">
       <li><a href="#">Пункт 3.1</a></li>
       <li><a href="#">Пункт 3.2</a></li>
       <li><a href="#">Пункт 3.3</a></li>
       <li><a href="#">Пункт 3.4</a></li>
        </ul>
        </li>
      </ul>

      <ul class="nav navmenu-nav">
      <li class="dropdown-left">
      <a class="dropdown-left" href="#">Бесплатное <b class="caret"></b></a>
      <ul class="dropdown-inside nav navmenu-nav">
      <li><a href="#">Пункт 4.1</a></li>
      <li><a href="#">Пункт 4.2</a></li>
      <li><a href="#">Пункт 4.3</a></li>
      <li><a href="#">Пункт 4.4</a></li>
      </ul>
      </li>
      </ul>

      </nav>
        </ul>
          </form>
        <!-- БОКОВОЕ МЕНЮ КОНЕЦ -->


        <!-- Подключаем JavaScript Jasny Bootstrap -->
<script src="js/jasny-bootstrap.min.js"></script>
